[user]
	email = simonthompson99@googlemail.com
	name = Simon Thompson
[core]
	excludesfile = /Users/simonthompson/.gitignore_global
	editor = nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/simonthompson/.stCommitMsg
[merge]
	tool = vimdiff
[gpg]
	program = gpg
